# Dependencies
node_modules/

# Environment variables (can opt-in for committing if needed)
.env*

# Vercel
.vercel

# Build output
dist/
.output/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db